* {
	margin: 0;
}

/*CABECERA*/
header {
	height: 12em;
	background: linear-gradient(70deg, black, red, black);
	text-align: center;
	box-shadow: inset 0 0 10px black;
}

#logo {
	margin-top: 30px;
	height: 120px;
}

#navBar{
	border-collapse: collapse;
	border-spacing: 5px;
}

#fondobarra {
	font-family: sans-serif;
	border-radius: 20px;
	background-color: white;
	width: 450px;
	margin: auto;
}
/**/

/*Nueva Barra Navegación*/
.barraNAV{
	padding: 8px 15px 8px 15px;
	background-color: white;
	border-radius: 20px;
	width: 130px;
	transition: background-color .5s;

}
.barraNAV:hover{
	background-color: black;
	border-radius: 20px;
}
.barraNAV:hover a{color: white;}


#botonIZQ{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
#botonCEN{
	border-radius: 0px;
}
#botonDER{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

a{color: black;}

a:link{
	text-decoration: none;
}

#navBar a{
	width: 100%;
}
/**/

/*MAIN*/
/* main{
	height: 99%;
} */
/**/

/*Menu PAG PRINCIP*/
.menu{
	background-color: black;
	width: 1920px;
	height: 769px;
	position: relative;
	margin-left: 0px;
}
.botonMenu{
	float: left;
	margin: auto;
	width: 640px;
	height: 769px;
	overflow: hidden;
}
.botonMenu img{
	bottom: 100px;
	position: relative;
	right: 240px;
	scale: 1;
	filter: blur(1px);
	filter: saturate(0);
	transition: all 0.5s;
}
.botonMenu:hover img{
	scale: 1.1;
	filter: blur(10px);
	filter: saturate(100%);
}
.botonMenu h2{
	background-color: rgb(255, 41, 41);
	color: rgb(255, 255, 255);
	height: 56px;
	width: 250px;
	position: relative;
	z-index: 2;
	margin: auto;
	top: 80px;
	text-align: center;
	font: bold 42px Verdana;
	text-transform: uppercase;
	border-radius: 5px;
	text-shadow: 0px 1px 11px black;
	transition: top 0.7s, border-radius 0.8s 0.2s;
}
.botonMenu:hover h2{
	top: 10px;
	border-radius: 10px 100px / 120px;
}
.botonMenu div{
	position: relative;
	z-index: 2;
	height: 70px;
	width: 300px;
	top: 300px;
	margin: auto;
	overflow: hidden;
}
#clips{width: 400px;}
#clips h2{width: 380px;}
#fotoFinal{
	top: -80px;
    width: 1046px;
    left: -207px;
}
/**/
.footer {
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 83px;
    background: linear-gradient(70deg, black, red, black);
}
/*parte javi*/
img.mascota2{
	float: right;
	transform: scaleX(-1);
	width: 190px;
	height: 190px;
	filter: opacity(0%);
	transition: filter 0.5s;
}
img.mascota{
	float: left;
	width: 190px;
	height: 190px;
	filter: opacity(0%);
	transition: filter 0.5s;
}
header:hover .mascota{
	filter: opacity(100%);
}
header:hover .mascota2{
	filter: opacity(100%);
}

/**/

/*Página EQUIPOS*/

/* Equipos de Keliam
Grupo A: Países Bajos, Senegal, Ecuador, Catar (anfitrión)
Grupo B: Inglaterra, Estados Unidos, Irán, Gales.
Grupo C: Argentina, Polonia, México, Arabia Saudí			idea transicion "Telón"
Grupo D: Francia, Australia, Túnez, Dinamarca.

   Equipos de Javi
Grupo E: Japón, España, Alemania, Costa Rica
Grupo F: Marruecos, Croacia, Bélgica, Canadá
Grupo G: Brasil,﻿ Suiza, Camerún, Serbia
Grupo H: Portugal, República de Corea, Uruguay, Ghana
*/
.caja{
	width: 100%;
	height: 686px;
	margin-bottom: 0px;
	background-image: linear-gradient(180deg, #05a562, #141414);
}
#bgEquipos{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 105%;
	min-height: 100%;
	z-index: -2;
	background: linear-gradient(70deg, black, red, black);
}



#title{
	margin:auto;
	padding: 2px;
	text-align: center;
	font: bold 48px arial;
	text-transform: uppercase;
	/* background-color: rgb(255, 255, 255); */
	color: rgb(0, 0, 0);
	width: 600px;
	border-radius: 10px;
	transition: border-radius 1s, scale 1s, color 1s, background-color 1s, box-shadow .4s;

}
.grupos:hover #title{
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	scale: 1.1;
	color: white;
	background-color: darkred;
	box-shadow: 0 7px 0 #7f7f7f;
}


.grupos{
	margin: auto;
	margin-bottom: 0px;
	/* background-color: rgba(220, 20, 60, 0.722); */
	width: 880px;
}
.grupos th{
	font: bold 28px arial;
	color: white;
	text-decoration: none;
}
.grupos th>a{
	color: white;
	text-shadow: 1px 2px 3px black;
	transition: all .5s;
}
/* .grupos:hover #title */
/* .grupos td > table:hover .grupos th */
.grupos th a:hover {
	text-decoration: underline;
	color: rgb(192, 192, 192);	
	text-shadow: 2px 3px 4px rgb(0, 0, 0);

}
.grupos legend{
	text-align: center;
	position: relative;
	top: 85px;
	text-transform: uppercase;
	font: 13px/1 'system-ui', sans-serif;
	font-weight: bold;
	color: #871537;
	text-shadow: 0px 4px 4px rgb(153 50 50 / 33%);
}
.grupos img{
	width: 84px;
	height: 86px;
	margin: auto;
	display: block;
	position: relative;
	bottom: 20px;
}
.grupos td{
	margin: auto;
	margin-bottom: 0px;
}

#fondoTitle {
	background-color: rgba(255, 255, 255, 0);
	padding: 8px 0px;
}

.grupos tr{margin: 0px;}

.grupos table{
	margin: auto;
}
.grupos td > table{
	border-spacing: 5px;
}

.grupos td > table td{
	border: 2px solid rgb(0, 109, 129);
	width: 90px;
	height: 110px;
	border-radius: 20px;
	background-color: white;
	transition: drop-shadow .3s, brightness .3s, scale .3s;
}
.grupos td > table td:hover{
	filter:drop-shadow(1px 3px 1px);
	filter:brightness(120%);
	scale: 1.1;
}
/**/

/*Publicidad*/
.cajaPubli{
	position: absolute;
	bottom: 160px;
	left: 15px;
	background-color: rgba(255, 255, 255, 0);
	width: 230px;
	height: 550px;
	border: 1px solid rgb(0, 0, 0);
	font: normal 9px "Verdana";
	text-align: center;
}
.iconEquis{
	background-color: white;
	margin: 0px;

}
.cajaPubli h3{margin-bottom: 4px;}

 #publi{
	margin: auto;
	width: 216px;
	display: flex;
	/* position: absolute;
	bottom: 213px;
	left: 15px; */
 }
/**/

/*Framcoa*/
.cajaFrancia{
	position: relative;
	top: 5px;
	height: 110px;
	overflow: hidden;
}
.cajaFrancia:hover #fotoFrancia{
	top: 0px;
}
.cajaFrancia:hover #fotoFrancia{
	top: -102px;
}
#fotoFrancia{
	position: relative;
	top: 100px;
	transition: all .5s;
}
#bandera{
	position: relative;
}
