* {
	margin: 0;
}

main {
	width: 100%;
	margin: 0px;
}

/*CABECERA*/
header {
	width: 100%;
	height: 12em;
	background: linear-gradient(70deg, black, red, black);
	text-align: center;
}

#logo {
	margin-top: 0.39%;
	height: 120px;
	margin-bottom: 20px;
}

#navBar{
	/*border: 1px solid black;*/
	border-collapse: collapse;
	border-spacing: 5px;
}

#fondobarra {
	
	font-family: sans-serif;
	border-radius: 20px;
	background-color: white;
	width: 450px;
	margin: auto;
}
/**/

/*Nueva Barra Navegación*/
.barraNAV{
	padding: 8px 15px 8px 15px;
	background-color: white;
	border-radius: 20px;
	width: 130px;
	transition: background-color .5s;
}
.barraNAV:hover{
	background-color: black;
	border-radius: 20px;
}
.barraNAV:hover a{color: white;}


#botonIZQ{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
#botonCEN{
	border-radius: 0px;
}
#botonDER{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

a{color: black;}

a:link{
	text-decoration: none;
}

.mascota2{
	float: right;
	transform: scaleX(-1);
	width: 190px;
	height: 190px;
	filter: opacity(0%);
	transition: filter 0.5s;
}
.mascota{
	float: left;
	width: 190px;
	height: 190px;
	filter: opacity(0%);
	transition: filter 0.5s;
}
header:hover .mascota{
	filter: opacity(100%);
}
header:hover .mascota2{
	filter: opacity(100%);
}

/* #imagenesparalink {
	position: relative;
    width: 1920px;
    height: 768.5px;
	margin: auto;
	transition: all;
	overflow: hidden;
}

#otakus img {
	padding: 0px;
	width: 640px;
	height: 100%;
	margin-left: -10px;
	transition: all;
	transition-duration: 1s;
	filter: saturate(0%);
}

#messi img {
	padding: 0px;
	width: 662px;
	height: 100%;
	margin-left: -10px;
	transition: all;
	transition-duration: 1s;
	filter: saturate(0%);
}

#espana {
	padding: 0px;
	width: 639px;
	height: 100%;
	margin-left: -10px;
	margin-right: -1px;
	transition: all;
	transition-duration: 1s;
	filter: saturate(0%);
}

#otakus:hover img {
	filter: saturate(100%);
	scale: 1.1;

}
#messi:hover img {
	filter: saturate(100%);
	scale: 1.1;
}
#espana:hover {
	filter: saturate(100%);
	scale: 1.1;
} */

.menu{
	background-color: black;
	width: 1920px;
	height: 769px;
	position: relative;
	margin-left: 0px;
}
.botonMenu{
	float: left;
	margin: auto;
	width: 640px;
	height: 769px;
	overflow: hidden;
}
.botonMenu img{
	position: relative;
	height: 770px;
	scale: 1;
	filter: blur(1px);
	filter: saturate(0);
	transition: all 0.5s;
}
.botonMenu:hover img{
	scale: 1.1;
	filter: blur(10px);
	filter: saturate(100%);
}

